@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

:root {
    --primGreen: #22ad01;
    --secGreen: #003c2f;
    --primGrey: #4c4d5f;
    --primYellow: #f8db62;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
}

/* Utility Classes */
.primary {
    color: var(--primGreen)
}

.secondary {
    color: var(--secGreen)
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.width-100 {
    width: 100%;
}

.flex-direction-column {
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.mw-75 {
    max-width: 75%;
}

.white {
    color: white;
}

.fw-700 {
    font-weight: 700;
}

.rem1 {
    font-size: 1rem;
}

.rem2 {
    font-size: 1.25rem;
}

.rem3 {
    font-size: 1.5rem;
}

.rem4 {
    font-size: 1.75rem;
}

.rem5 {
    font-size: 2rem;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-75 {
    opacity: 0.75;
}

.marginrem1 {
    margin: 1rem 0;
}


/* Nav Mobile */
nav>div {
    padding: 15px;
    background-color: white;
    z-index: 1;
}

.bar {
    width: 20px;
    height: 1px;
    background-color: white;
    margin: 5px 0;
}

.hamburger {
    background-color: var(--secGreen);
    padding: 10px;
    border-radius: 50%;
}

.navBarLinks {
    display: hidden;
    padding: 20px 40px;

    position: absolute;
    width: 100%;
    top: -500px;
    right: 0;
    overflow: hidden;
    z-index: 1;

    transition: top 300ms ease-in-out;
}

.navPrim {
    height: 25px;
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 30px 0;

}

.topBar {
    border-top: 2px var(--primGrey) solid;
}


.dropDownProducts {
    display: none;
}


.mainMenu>li:hover .dropDownProducts {
    display: inline-block;
}


.active {
    display: flex;
    top: 73px;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--secGreen);
}

nav button {
    margin: 20px 0;
    background-color: white;

}

.button {
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.freeStartButton {
    align-self: center;
    background-color: var(--primGreen);
    color: white;
    border: none;
    transition: all 0.2s ease;
}

.freeStartButton:hover {
    background-color: #00b33c;
}

.login {
    border: var(--secGreen) solid 2px;
    background-color: #fff;
    color: var(--secGreen);
}

.login:hover {
    background-color: var(--secGreen);
    color: white;
}

.startFree {
    background-color: var(--primGreen);
    color: white;
    border: var(--primGreen) solid 2px;
}

.startFree:hover {
    background-color: white;
    color: black;
}

/* Main Mobile */
.container-padding {
    padding: 0 15px;
}

/* Toggle Switch */
.switch-holder {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.switch-toggle {
    height: 40px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    background-color: #f0f5f0;

}

.switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'Monthly';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 125px;
    height: 25px;
    border-radius: 20px;
    background-color: #d1dad3;
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
    left: 50%;
    content: 'Yearly';
    color: #fff;
    background-color: #00b33c;
}

/* Pricing Card */
.cardsContainer {
    flex-direction: column;
    margin: 0 0 50px 0;
}

.padding1 {
    padding: 10px
}

.price-card {
    margin: 10px 0;
    padding: 35px 20px;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    position: relative;
    border-radius: 15px;
}

.cardItem {
    gap: 15px;
    margin: 10px 0;
}

.cardItemFirst {
    padding: 20px 0 0 0;
}

.cardItem>img {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    filter: invert(53%) sepia(37%) saturate(4481%) hue-rotate(72deg) brightness(93%) contrast(107%);
}

/* Cards Horizontal Scroll */
.cardOutline {
    border: 5px solid var(--primYellow);
    border-top: 30px solid var(--primYellow);
    border-radius: 15px;
}

.outlineText {
    position: absolute;
    top: -40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.borderCard {
    border: 1px solid #d3dcd4;
    flex-direction: column;
    padding: 25px;
    min-height: 250px;
    min-width: 235px;
    gap: 20px;
    margin: 0 0 20px 0;
}

.horizontalFlex {
    flex-direction: row;
    gap: 25px;
    overflow: scroll;
}

/* FAQ Section */
.dropDown {
    cursor: pointer;
}

.touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.faqText {
    margin: 0;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
}

#touch1:checked~.faqText {
    height: 110px;
}

#touch1:checked~label div>.arrow {
    transform: rotate(180deg);
}

#touch2:checked~.faqText {
    height: 110px;
}

#touch2:checked~label div>div {
    transform: rotate(180deg);
}

#touch3:checked~.faqText {
    height: 110px;
}

#touch3:checked~label div>div {
    transform: rotate(180deg);
}

#touch4:checked~.faqText {
    height: 110px;
}

#touch4:checked~label div>div {
    transform: rotate(180deg);
}

.arrow {
    transition: transform 0.2s ease;
}

/* Reviews + CTA */
.border-right {
    border-right: 1px solid #d3dcd4;
}

.reviews {
    overflow: scroll;
}

.reviewContainerRow {
    margin: 15px 0;

    display: flex;
    gap: 10px;
}

.review {
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #ecf1ec;
}

.review>p {
    white-space: nowrap;
    padding: 5px;
}

.helper a {
    color: var(--primGreen)
}

/* Contact and CTA section */
#contactImg {
    width: 100%;
    height: auto;

    /* This will be replaced with gap at larger screens I believe */
    margin: 40px 0 0 0;
}

#cta {
    background-color: #003c2f;
    border-radius: 20px;
    margin: 50px 0;
}

#cta p {
    padding: 20px;
}

#cta button {
    margin: 0 auto 20px;
    max-width: 50%;
}



/* Footer */

.footerDrop {
    display: none;
}

.footerDropDown {
    transition: transform 0.3s ease;
}

.footerDropDown:hover>.footerDrop {
    display: inline-block;
}

.footerDropDown:hover {
    transform: translateX(10px);
}

.footerDropDown>button {
    background-color: white;
    padding: 0;
}

.footerDropDown li,
.footerDropDown ul,
.footerDropDown a {
    list-style-type: none;
    text-decoration: none;
}

.footerDropDown>button>div:first-child {
    font-size: 1rem;
    opacity: 0.75;
}

.copyRight .socials {
    margin: 40px 0 0 0;
    padding: 40px 0 0 0;
}

.opacity-50 {
    opacity: 0.5;
}

.copyRight>p:last-child {
    padding: 0 0 75px 0;
}

.footerSection a {
    text-decoration: none;
    opacity: 0.75;
    color: black;
    font-size: 1rem;
}



/* Assets */
.logo {
    width: 25px;
    height: 25px;
}