:root {
    --primGreen: #22ad01;
    --secGreen: #003c2f;
    --primGrey: #4c4d5f;
    --primYellow: #f8db62;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Utility Classes */
.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.width-100 {
    width: 100%;
}

.flex-direction-column {
    flex-direction: column;
}



/* Nav Mobile */
nav>div {
    padding: 15px;
    background-color: white;
}

.bar {
    width: 20px;
    height: 1px;
    background-color: white;
    margin: 5px 0;
}

.hamburger {
    background-color: var(--secGreen);
    padding: 10px;
    border-radius: 50%;
}

.navBarLinks {
    display: hidden;
    padding: 20px 40px;

    position: absolute;
    width: 100%;
    top: -454px;
    right: 0;
    overflow: hidden;
    z-index: -1;

    transition: top 500ms ease-in-out;
}

.navPrim {
    height: 20px;
    padding: 20px 0;
}

.dropDownProducts {

}

.active {
    display: flex;
    top: 73px;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--secGreen);
}

nav button {
    margin: 20px 0;
}

.button {
    width: 100%;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.login {
    border: var(--secGreen) solid 2px;
    background-color: #fff;
    color: var(--secGreen);
}

.startFree {
    background-color: var(--primGreen);
    color: white;
    border: var(--primGreen) solid 2px;
}

/* Assets */
.logo {
    width: 25px;
    height: 25px;
}